body {
  background-color:lightblue;
  font-family: 'Special Elite', cursive;
  }
  .header_div {
      background-color: lightyellow;
      color: blue;
  }
  .header_div p{
      font-family:  'Roboto', sans-serif;
      color: grey; 
      letter-spacing: 2px;
      font-size: 12px;
      font-weight: bold;
  }
  .main_div button {
      font-family:  'Roboto', sans-serif;
      margin-top: 30px;
      width: 130px;
      font-weight: bolder ;
      letter-spacing: 3px;
  }
  .copy_right_footer {
      position: fixed;
      color: indigo;
      background-color: lightskyblue;
      bottom: 0;
      width: 100%;
      font-size: 18px;
      line-height: 3;
      text-align: center;
      text-shadow: 5px 5px 5px plum;
      
  }